<nav class="navbar navbar-expand-lg border-bottom border-2 border-dark py-3 py-lg-6 overflow-hidden">
  <div class="container">
    <a class="navbar-brand p-0 m-0" href="./index.html">
      <div class="d-flex align-items-center">
        <img src="../assets/images/logo.png" alt="brand logo" class="logo d-inline-block img-fluid">
        <h1 class="d-none d-md-block fs-4 fw-normal ms-4">7TAO</h1>
        <h2 class="d-none d-md-block fs-9 fw-bold">活動訂票網</h2>
      </div>
    </a>
    <div class="search-form input-group ms-6 ms-lg-12">
      <input type="search" class="form-control border-2 border-dark rounded-0" placeholder="探索活動">
      <button class="btn btn-outline-secondary border-0 rounded-0 font-noto-sans bg-dark p-3 p-lg-4" type="button"
        id="button-addon2">
        <i class="icofont-search-1 fs-9 fs-lg-7 link-warning d-block"></i>
      </button>
    </div>
    <button class="navbar-toggler border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav pt-6 pb-2 py-lg-0">
        <div class="ms-lg-auto d-flex flex-column flex-lg-row align-items-center gap-6">
          <a href="./login.html">
            <i class="icofont-ui-file fs-8 link-dark"></i>
            <span class="fs-8 fw-normal text-dark">REGISTER</span>
          </a>
          <a href="./login.html">
            <i class="icofont-ui-user fs-8 link-dark"></i>
            <span class="fs-8 fw-normal text-dark">LOGIN</span>
          </a>
        </div>
      </ul>
    </div>
  </div>
</nav>