<div class="nav border-bottom border-3 border-dark mb-8">
  <div class="h-100 container d-flex align-items-center">
    <img src="../assets/images/logo.png" alt="brand logo" class="logo d-inline-block img-fluid">
    <h1 class="d-none d-md-block fs-4 fw-normal">7TAO</h1>
    <h2 class="d-none d-md-block fs-9 fw-bold">活動訂票網</h2>
    <a href="#" class="d-none d-md-block ms-auto">
      <span></span>
      <span class="fs-8 fw-normal text-dark">REGISTER</span>
    </a>
    <a href="#" class="d-none d-mb-block">
      <span></span>
      <span class="fs-8 fw-normal text-dark">LOGIN</span>
    </a>
  </div>
</div>