<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('./layout/link'); -%>
    <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="index">
      <div id="carousel-controls" class="carousel slide container mt-4 mt-lg-8 mb-12"
        data-bs-target="carousel-controls">
        <div class="carousel-inner">
          <div class="carousel-item position-relative">
            <img src="../assets/images/event/01.jpg" alt="" class="img-fluid d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../assets/images/event/02.jpg" alt="" class="img-fluid d-block w-100">
          </div>
          <div class="carousel-item active position-relative">
            <img src="../assets/images/event/13.jpg" alt="" class="img-fluid d-block w-100">
            <div
              class="position-absolute top-0 w-100 h-100 pt-12 pb-6 px-12 text-light d-flex flex-column justify-content-between">
              <h2 class="fs-4 fs-md-2">19 MAY 2023</h2>
              <div class="row justify-content-center">
                <div class="col-8">
                  <h3 class="fs-8 fs-md-5 fw-bold ls-tiny-3 text-center">隔牆有耳-沒有草東的派對</h3>
                  <p class="d-none d-md-block text-center">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                    帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-controls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-controls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="event-genre container mb-12">
        <div class="row g-2 gx-md-6">
          <div class="col-4 col-md-2">
            <a href="#"
              class="d-flex flex-column align-items-center justify-content-center py-5 py-md-9 border border-2 border-dark h-100">
              <img src="../assets/images/cate01.svg" alt="" class="event-genre-icon img-fluid d-block mb-2 mb-md-3">
              <span class="clearfix d-block fs-9 fs-md-5 fw-bold text-center text-dark text-nowrap">演出</span>
            </a>
          </div>
          <div class="col-4 col-md-2">
            <a href="#"
              class="d-flex flex-column align-items-center justify-content-center py-5 py-md-9 border border-2 border-dark h-100">
              <img src="../assets/images/cate02.svg" alt="" class="event-genre-icon img-fluid d-block mb-2 mb-md-3">
              <span class="clearfix d-block fs-9 fs-md-5 fw-bold text-center text-dark text-nowrap">聯誼</span>
            </a>
          </div>
          <div class="col-4 col-md-2">
            <a href="#"
              class="d-flex flex-column align-items-center justify-content-center py-5 py-md-9 border border-2 border-dark h-100">
              <img src="../assets/images/cate03.svg" alt="" class="event-genre-icon img-fluid d-block mb-2 mb-md-3">
              <span class="clearfix d-block fs-9 fs-md-5 fw-bold text-center text-dark text-nowrap">展覽</span>
            </a>
          </div>
          <div class="col-4 col-md-2">
            <a href="#"
              class="d-flex flex-column align-items-center justify-content-center py-5 py-md-9 border border-2 border-dark h-100">
              <img src="../assets/images/cate04.svg" alt="" class="event-genre-icon img-fluid d-block mb-2 mb-md-3">
              <span class="clearfix d-block fs-9 fs-md-5 fw-bold text-center text-dark text-nowrap">美食</span>
            </a>
          </div>
          <div class="col-4 col-md-2">
            <a href="#"
              class="d-flex flex-column align-items-center justify-content-center py-5 py-md-9 border border-2 border-dark h-100">
              <img src="../assets/images/cate05.svg" alt="" class="event-genre-icon img-fluid d-block mb-2 mb-md-3">
              <span class="clearfix d-block fs-9 fs-md-5 fw-bold text-center text-dark text-nowrap">戶外</span>
            </a>
          </div>
          <div class="col-4 col-md-2">
            <a href="#"
              class="d-flex align-items-center justify-content-center py-5 py-md-9 border border-2 border-dark h-100 bg-dark">
              <span
                class="clearfix d-block fs-5 fs-md-3 fw-bold lh-sm text-center text-warning text-nowrap">探索<br>更多</span>
            </a>
          </div>
        </div>
      </div>

      <div class="container mb-8">
        <div
          class="px-3 px-md-8 py-4 py-md-6 d-flex flex-wrap justify-content-between align-items-center border border-3 border-dark">
          <h2 class="fs-5 fs-md-1 fw-normal text-center">RECENT</h2>
          <h2 class="fs-9 fs-md-4 fw-bold text-center">近期活動</h2>
        </div>
      </div>

      <div class="container mb-14">
        <div class="row gy-12">
          <div class="col-md-4">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body p-0 h-100 d-flex flex-column">
                <h3 class="card-title fs-4 fs-md-3 fw-normal border-bottom border-3 border-dark pb-3 mb-3">19 MAY 2023
                </h3>
                <img src="../assets/images/event/01.jpg" alt="" class="recent-event-img d-block mb-3">
                <h2 class="fs-6 fs-md-8 fw-bold mb-3">邪典電影派對——房間</h2>
                <p class="font-noto-sans fw-normal lh-base mb-4">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                  製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
                <div class="d-flex align-items-center border border-2 border-start-0 border-end-0 border-dark py-3 mt-auto">
                  <img src="../assets/images/sparkler.png" alt="" class="icon-sparkler d-inline-block">
                  <span class="fw-bold">社群活動</span>
                  <a href="#" class="ms-auto text-dark">
                    <span class="font-noto-sans fw-bold">開賣中</span>
                    <img src="../assets/images/rounded-double-right 1.svg" alt="" class="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body p-0 h-100 d-flex flex-column">
                <h3 class="card-title fs-4 fs-md-3 fw-normal border-bottom border-3 border-dark pb-3 mb-3">23 MAY 2023
                </h3>
                <img src="../assets/images/event/02.jpg" alt="" class="recent-event-img d-block mb-3">
                <h2 class="fs-6 fs-md-8 fw-bold mb-3">怪舞俱樂部</h2>
                <p class="font-noto-sans fw-normal lh-base mb-4">
                  覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
                <div class="d-flex align-items-center border border-2 border-start-0 border-end-0 border-dark py-3 mt-auto">
                  <img src="../assets/images/sparkler.png" alt="" class="icon-sparkler d-inline-block">
                  <span class="fw-bold">演出</span>
                  <a href="#" class="ms-auto text-dark">
                    <span class="font-noto-sans fw-bold">檢視活動</span>
                    <img src="../assets/images/rounded-double-right 1.svg" alt="" class="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body p-0 h-100 d-flex flex-column">
                <h3 class="card-title fs-4 fs-md-3 fw-normal border-bottom border-3 border-dark pb-3 mb-3">30 MAY 2023
                </h3>
                <img src="../assets/images/event/03.jpg" alt="" class="recent-event-img d-block mb-3">
                <h2 class="fs-6 fs-md-8 fw-bold mb-3">哈利波特馬拉松</h2>
                <p class="font-noto-sans fw-normal lh-base mb-4">
                  每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
                <div class="d-flex align-items-center border border-2 border-start-0 border-end-0 border-dark py-3 mt-auto">
                  <img src="../assets/images/sparkler.png" alt="" class="icon-sparkler d-inline-block">
                  <span class="fw-bold">聯誼</span>
                  <a href="#" class="ms-auto text-dark">
                    <span class="font-noto-sans fw-bold">開賣中</span>
                    <img src="../assets/images/rounded-double-right 1.svg" alt="" class="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body p-0 h-100 d-flex flex-column">
                <h3 class="card-title fs-4 fs-md-3 fw-normal border-bottom border-3 border-dark pb-3 mb-3">12 June 2023
                </h3>
                <img src="../assets/images/event/04.jpg" alt="" class="recent-event-img d-block mb-3">
                <h2 class="fs-6 fs-md-8 fw-bold mb-3">皮卡丘排球大賽</h2>
                <p class="font-noto-sans fw-normal lh-base mb-4">
                  還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
                <div class="d-flex align-items-center border border-2 border-start-0 border-end-0 border-dark py-3 mt-auto">
                  <img src="../assets/images/sparkler.png" alt="" class="icon-sparkler d-inline-block">
                  <span class="fw-bold">遊戲競賽</span>
                  <a href="#" class="ms-auto text-dark">
                    <span class="font-noto-sans fw-bold">開賣中</span>
                    <img src="../assets/images/rounded-double-right 1.svg" alt="" class="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body p-0 h-100 d-flex flex-column">
                <h3 class="card-title fs-4 fs-md-3 fw-normal border-bottom border-3 border-dark pb-3 mb-3">25 June 2023
                </h3>
                <img src="../assets/images/event/05.jpg" alt="" class="recent-event-img d-block mb-3">
                <h2 class="fs-6 fs-md-8 fw-bold mb-3">酒精路跑</h2>
                <p class="font-noto-sans fw-normal lh-base mb-4">
                  身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
                <div class="d-flex align-items-center border border-2 border-start-0 border-end-0 border-dark py-3 mt-auto">
                  <img src="../assets/images/sparkler.png" alt="" class="icon-sparkler d-inline-block">
                  <span class="fw-bold">社群活動</span>
                  <a href="#" class="ms-auto text-dark">
                    <span class="font-noto-sans fw-bold">開賣中</span>
                    <img src="../assets/images/rounded-double-right 1.svg" alt="" class="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body p-0 h-100 d-flex flex-column">
                <h3 class="card-title fs-4 fs-md-3 fw-normal border-bottom border-3 border-dark pb-3 mb-3">9 July 2023
                </h3>
                <img src="../assets/images/event/06.jpg" alt="" class="recent-event-img d-block mb-3">
                <h2 class="fs-6 fs-md-8 fw-bold mb-3">展覽——我的房間</h2>
                <p class="font-noto-sans fw-normal lh-base mb-4">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
                <div class="d-flex align-items-center border border-2 border-start-0 border-end-0 border-dark py-3 mt-auto">
                  <img src="../assets/images/sparkler.png" alt="" class="icon-sparkler d-inline-block">
                  <span class="fw-bold">展覽</span>
                  <a href="#" class="ms-auto text-dark">
                    <span class="font-noto-sans fw-bold">開賣中</span>
                    <img src="../assets/images/rounded-double-right 1.svg" alt="" class="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mb-8">
        <div
          class="px-3 px-md-8 py-4 py-md-6 d-flex flex-wrap justify-content-between align-items-center border border-3 border-dark">
          <h2 class="fs-5 fs-md-1 fw-normal text-center">ONLINE</h2>
          <h2 class="fs-9 fs-md-4 fw-bold text-center">線上活動</h2>
        </div>
      </div>

      <div class="container mb-8 mb-md-15">
        <div class="row">
          <div class="col-md-7">
            <div class="chat-gpt"></div>
          </div>
          <div class="col-md-5">
            <h3 class="md-2 mb-md-4 fs-md-4 fw-bold">切特居批踢</h3>
            <div class="d-flex gap-2 mb-md-8">
              <span
                class="d-block fs-md-9 fw-bold text-center px-md-6 py-md-1 border border-start-4 border-dark">競賽</span>
              <span
                class="d-block fs-md-9 fw-bold text-center px-md-6 py-md-1 border border-start-4 border-dark">科技</span>
              <span
                class="d-block fs-md-9 fw-bold text-center px-md-6 py-md-1 border border-start-4 border-dark">有趣</span>
            </div>
            <p class="font-noto-sans fw-normal mb-md-8">最近網路上很流行的AI程式
              ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br>這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>該讓其他人知道自己使用
              ChatGPT 的姿勢才是最特別的那個了！</p>
            <a href="#" class="py-4 py-md-2 bg-dark d-flex justify-content-center align-items-center link-light">
              <span class="d-block font-noto-sans fs-md-7 fw-bold">查看活動詳情</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path
                  d="M15.768 9.44006L11.704 5.37605C11.394 5.06605 10.892 5.06605 10.582 5.37605L10.232 5.72605C9.92201 6.03605 9.92201 6.53805 10.232 6.84805L12.826 9.44206C12.982 9.59806 13.058 9.80006 13.058 10.0021C13.058 10.2041 12.98 10.4081 12.826 10.5621L10.232 13.1561C9.92201 13.4661 9.92201 13.9681 10.232 14.2781L10.582 14.6281C10.892 14.9341 11.394 14.9341 11.704 14.6241L15.768 10.5601C15.924 10.4041 16 10.2021 16 10.0001C16 9.79806 15.922 9.59406 15.768 9.44006ZM9.76801 9.44006L5.70401 5.37605C5.39401 5.06605 4.89201 5.06605 4.58201 5.37605L4.23201 5.72605C3.92201 6.03605 3.92201 6.53805 4.23201 6.84805L6.82601 9.44206C6.98201 9.59806 7.05801 9.80006 7.05801 10.0021C7.05801 10.2041 6.98001 10.4081 6.82601 10.5621L4.23201 13.1561C3.92201 13.4661 3.92201 13.9681 4.23201 14.2781L4.58201 14.6281C4.89201 14.9341 5.39401 14.9341 5.70401 14.6241L9.76801 10.5601C9.92401 10.4041 10 10.2021 10 10.0001C10 9.79806 9.92201 9.59406 9.76801 9.44006Z"
                  fill="white" />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-dark mb-6 mb-md-9">
        <div class="py-4 py-md-6">
          <h3
            class="banner-text font-noto-serif text-warning fw-bold fs-9 fs-md-4 text-nowrap overflow-hidden text-center">
            活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</h3>
        </div>
      </div>

      <div class="container">
        <div class="mb-15">
          <div class="row gx-6 gy-9">
            <div class="col-sm-6 col-lg-3">
              <div class="border border-2 border-dark pt-4 pb-12 px-4 position-relative">
                <div class="d-inline-block position-absolute top-0 start-50 translate-middle z-1">
                  <div class="py-2 px-4 bg-light transform-rotate-n4">
                    <span class="d-inline-block fw-bold">社群活動</span>
                  </div>
                </div>
                <div class="ratio ratio-1x1 mb-4">
                  <img src="../assets/images/album/01.jpg" alt="" class="d-block object-fit-cover">
                </div>
                <p class="fs-8 fw-bold">無聲派對-閉閉嘴dancing</p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="border border-2 border-dark pt-4 pb-12 px-4 transform-rotate-2 position-relative">
                <div class="d-inline-block position-absolute top-0 start-50 translate-middle z-1">
                  <div class="py-2 px-4 bg-light transform-rotate-n3">
                    <span class="d-inline-block fw-bold">藝文活動</span>
                  </div>
                </div>
                <div class="ratio ratio-1x1 mb-4">
                  <img src="../assets/images/album/02.jpg" alt="" class="d-block object-fit-cover">
                </div>
                <p class="fs-8 fw-bold">拯救老店大作戰</p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="border border-2 border-dark pt-4 pb-12 px-4 transform-rotate-n2 position-relative">
                <div class="d-inline-block position-absolute top-0 start-50 translate-middle z-1">
                  <div class="py-2 px-4 bg-light transform-rotate-n4">
                    <span class="d-inline-block fw-bold">自我覺察</span>
                  </div>
                </div>
                <div class="ratio ratio-1x1 mb-4">
                  <img src="../assets/images/album/03.jpg" alt="" class="d-block object-fit-cover">
                </div>
                <p class="fs-8 fw-bold">內觀修行-部落篇</p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="border border-2 border-dark pt-4 pb-12 px-4 transform-rotate-2 position-relative">
                <div class="d-inline-block position-absolute top-0 start-50 translate-middle z-1">
                  <div class="py-2 px-4 bg-light transform-rotate-n4">
                    <span class="d-inline-block fw-bold">聯誼活動</span>
                  </div>
                </div>
                <div class="ratio ratio-1x1 mb-4">
                  <img src="../assets/images/album/04.jpg" alt="" class="d-block object-fit-cover">
                </div>
                <p class="fs-8 fw-bold">賞櫻野餐</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-dark mb-8 mb-md-15">
        <div class="py-4 py-md-6">
          <h3
            class="banner-text font-noto-serif text-warning fw-bold fs-9 fs-md-4 text-nowrap overflow-hidden text-center">
            活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</h3>
        </div>
      </div>

      <div class="container mb-12 mb-md-15">
        <div class="row gx-0 gy-6">
          <div class="col-md-6">
            <div
              class="border border-2 border-end-2 border-end-md-1 border-dark h-100 font-noto-sans d-flex- flex-column">
              <div class="mx-3 mx-md-8 my-4">
                <h3 class="font-noto-serif fw-bold fs-6 fs-md-4">#FOLLOW US</h3>
              </div>
              <div class="border border-1 border-dark"></div>
              <div class="mx-3 mx-md-8 my-4">
                <p class="fs-9 mb-4 mb-md-8">想第一時間獲得新奇有趣的活動資訊？<br>追蹤我們的社群吧！<br>也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                <div class="d-flex align-items-center gap-4 mb-4">
                  <span class="p-2 bg-dark">
                    <i class="icofont-ui-email d-block text-light"></i>
                  </span>
                  <span>7tao.event@gmail.com</span>
                </div>
                <div class="d-flex align-items-center gap-4 mb-4">
                  <span class="p-2 bg-dark">
                    <i class="icofont-phone d-block text-light"></i>
                  </span>
                  <span>09123123123</span>
                </div>
                <div class="d-flex align-items-center gap-4">
                  <span class="p-2 bg-dark">
                    <i class="icofont-facebook d-block text-light"></i>
                  </span>
                  <span>7TAO七逃</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="border border-2 border-start-2 border-start-md-1 border-dark h-100 d-flex flex-column">
              <div class="mx-3 mx-md-8 my-4">
                <h3 class="font-noto-serif fw-bold fs-6 fs-6 fs-md-4">#SUBSCRIBE US</h3>
              </div>
              <div class="border border-1 border-dark"></div>
              <div class="mx-3 mx-md-8 mt-4 mb-4 mb-md-auto font-noto-sans">
                <p class="fs-9 mb-4 mb-md-8">訂閱電子報送折價券！<br>定期精選文章資訊及最新優惠資訊，<br>還不通通給我訂閱起來？</p>
                <input type="email" placeholder="輸入Email" class="w-100 bg-transparent border border-2 border-dark">
              </div>
              <a href="#" class="py-4 py-md-2 bg-dark d-flex justify-content-center align-items-center link-light">
                <span class="d-block font-noto-sans fs-md-7 fw-bold">確認訂閱</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path
                    d="M15.768 9.44006L11.704 5.37605C11.394 5.06605 10.892 5.06605 10.582 5.37605L10.232 5.72605C9.92201 6.03605 9.92201 6.53805 10.232 6.84805L12.826 9.44206C12.982 9.59806 13.058 9.80006 13.058 10.0021C13.058 10.2041 12.98 10.4081 12.826 10.5621L10.232 13.1561C9.92201 13.4661 9.92201 13.9681 10.232 14.2781L10.582 14.6281C10.892 14.9341 11.394 14.9341 11.704 14.6241L15.768 10.5601C15.924 10.4041 16 10.2021 16 10.0001C16 9.79806 15.922 9.59406 15.768 9.44006ZM9.76801 9.44006L5.70401 5.37605C5.39401 5.06605 4.89201 5.06605 4.58201 5.37605L4.23201 5.72605C3.92201 6.03605 3.92201 6.53805 4.23201 6.84805L6.82601 9.44206C6.98201 9.59806 7.05801 9.80006 7.05801 10.0021C7.05801 10.2041 6.98001 10.4081 6.82601 10.5621L4.23201 13.1561C3.92201 13.4661 3.92201 13.9681 4.23201 14.2781L4.58201 14.6281C4.89201 14.9341 5.39401 14.9341 5.70401 14.6241L9.76801 10.5601C9.92401 10.4041 10 10.2021 10 10.0001C10 9.79806 9.92201 9.59406 9.76801 9.44006Z"
                    fill="white" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="py-12 py-md-15 border border-3 border-start-0 border-end-0 border-dark">
        <h2 class="fw-bold fs-8 fs-md-4 text-center">此刻打盹，你將做夢；此刻學習，你將圓夢</h2>
        <h3 class="fw-bold fs-10 fs-md-8 text-center">——我也不知道誰說的</h3>
      </div>
      <!-- <div class="container mb-4">
        <div class="row">
          <div class="col py-8 border border-start-2 border-start-md-5 border-dark"></div>
        </div>
      </div> -->

    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>